@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/contact.css">
    <link rel="stylesheet" type="text/css" href="~/css/contact_responsive.css">

</head>

<div class="main-container">

    <div class="contact">
        <div class="container">
            <div class="row">
                <!-- Get in touch -->
                <div class="col-lg-8 contact_col">
                    <div class="get_in_touch">
                        <div class="section_title">@Umbraco.Field("formTitleInput")</div>
                        <div class="section_subtitle">@Umbraco.Field("formSubtitleInput")</div>
                        <div class="contact_form_container">
                            <div class="container">
                                @if (TempData["ContactSuccess"] != null && (bool)TempData["ContactSuccess"])
                                {
                                    <p>@Umbraco.Field("yourMessageWasSentSuccessfully")</p>
                                }
                                else
                                {
                                    Html.RenderAction("RenderForm", "ContactSurface");
                                }
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Contact Info -->
                <div class="col-lg-3 offset-xl-1 contact_col">
                    <div class="contact_info">
                        <div class="contact_info_section">
                            <div class="contact_info_title">@Umbraco.Field("marketContactTitle")</div>
                            <ul>
                                <li>@Umbraco.Field("firstMarketContactType"): <span>@Umbraco.Field("marketPhone")</span></li>
                                <li>@Umbraco.Field("secondMarketContactType"): <span>@Umbraco.Field("marketEmail")</span></li>
                            </ul>
                        </div>
                        <div class="contact_info_section">
                            <div class="contact_info_title">@Umbraco.Field("shipRetContactTitle")</div>
                            <ul>
                                <li>@Umbraco.Field("firstShipRetContactType"): <span>@Umbraco.Field("shipRetPhone")</span></li>
                                <li>@Umbraco.Field("secondShipRetContactType"): <span>@Umbraco.Field("shipRetEmail")</span></li>
                            </ul>
                        </div>
                        <div class="contact_info_section">
                            <div class="contact_info_title">@Umbraco.Field("infoContactTitle")</div>
                            <ul>
                                <li>@Umbraco.Field("firstInfoContactType"): <span>@Umbraco.Field("genInfoPhone")</span></li>
                                <li>@Umbraco.Field("secondInfoContactType"): <span>@Umbraco.Field("genInfoEmail")</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

